html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

*, *::before, *::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

nav {
  width: 100%;
  background-color: white;
  padding-left: 30px;
  padding-right: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: inline-block;
}

.nav-links {
  list-style: none;
  display: flex;
}

.nav-item a {
  display: inline-block;
  padding: 10px 15px;
  text-decoration: none;
  color: black;
}

.nav-item:hover {
  background-color: white;
}

.nav-item:hover a {
  color: darkgreen;
}

.logo img {
  width: 100%;
  vertical-align: middle;
  height: 100px;

}

.presentation-banner {
  position: relative;
  top: 171px;
  left: 10%;
  padding: 0 5rem 2.5rem 5rem;
  border: solid 1px #979797;
  border-radius: 4px;
  background-color: #9dc20b;
  align-content: center;
}

.button {
  border: solid 2px #4a4a4a;
  border-radius: 4px;
  background-color: #4a4a4a;
  color: white;
  font-family: Roboto;
  text-align: center;
  margin-top: 2rem;
  width: 85%;
  
}

.button:hover {
  cursor: pointer;
}

.button:active {
  background-color: red;
}

.banner-content {
  width: 25.625rem;
  margin-top: 2rem;
  font-family: "Roboto", sans-serif;
  font-size: 1.25rem;
  line-height: 1.4;
  color: white;
}



#seccion-principal-banner {
  
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-image: url('./resources/landscape.jpg');
  background-position: bottom;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-portfolio {
  font-family: Roboto, sans-serif;
  text-decoration: dashed;
  text-align: center;
  margin: 2rem;
}

.container-portfolio {
  display: flex;
  min-height: 300px;
  margin: auto;
  padding-top: 10px;
  flex-wrap: wrap;
}

.portfolio {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.portfolio span {
  padding: 5px;
  min-width: 240px;
  font-weight: bold;
  text-align: center;
}

.portfolio img {
  margin-left: auto;
  margin-right: auto;
  width: 200px;
  padding: 10px;
  height: 200px
}

.parent-portfolio {
  min-height: 500px;
  margin: auto;
  padding-top: 70px;
}