/*Inherit root element fonts for rem units */
html {
    font-size: 16px;
    
    margin: 0;
    padding: 0;
}

/*Header and Navbar at the top of the webpage fixed z-indexed */

body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  border-bottom: solid 1px #c6c1c1;
  background-color: white;
  z-index: 5;
  height: 5.1rem;
  
  
  }
  
  header .content {
  display: flex;
  align-items: center;
  padding: 1.875rem;
  text-decoration: none;

  }
  
  header .logo {
  flex: 1;
  margin-left: 1.85rem;
  text-decoration: none;
  font-family: Roboto;
  }
  
  header nav ul {
  display: flex;
  text-decoration: none;
  
  }
  
  nav li {
  padding-left: 3.5rem;
    
  }

  nav li:hover {
    text-decoration: underline;
    color: #4a4a4a;
  }
  
  nav a {
  vertical-align: bottom;
  line-height: 1.6;
  font-size: 1rem;
  color: #4a4a4a;
  font-family: "Roboto";
  text-decoration: none;
  }

  ol, ul {
  list-style: none;
  }

  /*Main section - Banner*/

.banner-area {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  height: 43.5rem;
  background-image: url('./resources/landscape.jpg');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: cover;
  position: relative;
  

}